In [3]:
# Set-up
import pandas as pd
from pandas.io.parsers.readers import read_csv
#cancer = pd.DataFrame("30-70cancerChdEtc.csv")
cancer = pd.read_csv('DataSets/30-70cancerChdEtc.csv')
cancer.head(5)

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Both sexes,29.8
1,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Male,31.8
2,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Female,27.7
3,Afghanistan,2015,Probability (%) of dying between age 30 and ex...,Both sexes,29.8
4,Afghanistan,2015,Probability (%) of dying between age 30 and ex...,Male,31.9

In [ ]:
#STEP 1: I want to describe the data

In [4]:
print(cancer.describe())
print('Number of Countries in our Data Set:' + str(cancer['Location'].nunique()))

            Period  First Tooltip
count  2745.000000    2745.000000
mean   2009.200000      20.644809
std       6.047588       6.884163
min    2000.000000       4.700000
25%    2005.000000      15.800000
50%    2010.000000      20.300000
75%    2015.000000      24.700000
max    2016.000000      51.700000
Number of Countries in our Data Set:184

In [25]:
# STEP 2: We want to identfy questions we can answer with our data

# Percentage increase/decrease of cancer in each the country from 2010 to 2016 for both sexes
# Percentage increase/decrease of cancer in each the country from 2010 to 2016 for males
# Percentage increase/decrease of cancer in each the country from 2010 to 2016 for females
# The countries with the highest increase in cancer probabilites
# The countries with the highest decrease in cancer probabilites

In [24]:
#Question 1
#filter out males and females and save it in a new datafram.
#rename the period column in each df to 2010, 2015, 2016
cancer2016 = cancer[(cancer.Dim1=="Both sexes") & (cancer.Period == 2016)]
cancer2016.columns = cancer2016.columns.str.replace('Period', '2016')
print(cancer2016)


#then merge all df to have 2010,2015 and 2016 in one df
#pd.merge(cancer2010, cancer2016, cancer2015 how="right", on=["Location"])

                                Location  2016  \
0                            Afghanistan  2016
15                               Albania  2016
30                               Algeria  2016
45                                Angola  2016
60                   Antigua and Barbuda  2016
...                                  ...   ...
2670  Venezuela (Bolivarian Republic of)  2016
2685                            Viet Nam  2016
2700                               Yemen  2016
2715                              Zambia  2016
2730                            Zimbabwe  2016

                                              Indicator        Dim1  \
0     Probability (%) of dying between age 30 and ex...  Both sexes
15    Probability (%) of dying between age 30 and ex...  Both sexes
30    Probability (%) of dying between age 30 and ex...  Both sexes
45    Probability (%) of dying between age 30 and ex...  Both sexes
60    Probability (%) of dying between age 30 and ex...  Both sexes
...                                                 ...         ...
2670  Probability (%) of dying between age 30 and ex...  Both sexes
2685  Probability (%) of dying between age 30 and ex...  Both sexes
2700  Probability (%) of dying between age 30 and ex...  Both sexes
2715  Probability (%) of dying between age 30 and ex...  Both sexes
2730  Probability (%) of dying between age 30 and ex...  Both sexes

      First Tooltip
0              29.8
15             17.0
30             14.2
45             16.5
60             22.6
...             ...
2670           18.1
2685           17.1
2700           30.6
2715           17.9
2730           19.3

[183 rows x 5 columns]

,Location,2015,Indicator,Dim1,First Tooltip
3,Afghanistan,2015,Probability (%) of dying between age 30 and ex...,Both sexes,29.8
18,Albania,2015,Probability (%) of dying between age 30 and ex...,Both sexes,17.4
33,Algeria,2015,Probability (%) of dying between age 30 and ex...,Both sexes,14.4
48,Angola,2015,Probability (%) of dying between age 30 and ex...,Both sexes,16.9
63,Antigua and Barbuda,2015,Probability (%) of dying between age 30 and ex...,Both sexes,22.6
...,...,...,...,...,...
2673,Venezuela (Bolivarian Republic of),2015,Probability (%) of dying between age 30 and ex...,Both sexes,18.2
2688,Viet Nam,2015,Probability (%) of dying between age 30 and ex...,Both sexes,17.3
2703,Yemen,2015,Probability (%) of dying between age 30 and ex...,Both sexes,30.7
2718,Zambia,2015,Probability (%) of dying between age 30 and ex...,Both sexes,18.0
2733,Zimbabwe,2015,Probability (%) of dying between age 30 and ex...,Both sexes,19.4